<!-- resource : https://www.youtube.com/watch?v=IpAk1Eu52GU&t=2297s -->
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Anonymous Messaging App</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="home">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</head>
<body>

<div align="center">
  <h1 class="display-5">Private Room</h1>
</div>


<div class="container d-flex align-items-center justify-content-center mt-2">
  <p class="lead">Enter an already existing private room, or create your own!<p>
</div>

{% load crispy_forms_tags %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center">
    <form method="POST" class="post-form">{% csrf_token %}
      {{ form | crispy }}
        <button type="submit" class="btn btn-outline-primary btn-lg">Enter</button>
      </form>
    </form>
  </div>
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>


</html>